<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>NTUC Cars</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="vendors/feather/feather.css">
  <link rel="stylesheet" href="vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="vendors/datatables.net-bs4/dataTables.bootstrap4.css">
  <link rel="stylesheet" href="vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" type="text/css" href="js/select.dataTables.min.css">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="css/vertical-layout-light/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="images/favicon.png" />
</head>
<body>
  <div class="container-scroller">
   <div th:replace="common :: headersidebar"></div>	
   
      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
     
      <!-- partial -->
          <form  th:object="${customer}" method="post">
			<table >
				<tr>
					<td>Customer ID:</td>
					<td><input type="text"  name="cust_id" id="cust_id" th:field="*{cust_id}" readonly="readonly" /></td>
				</tr>			
				<tr>
					<td>Customer Name:</td>
					<td><input type="text" name="cust_name"  id="cust_name" th:field="*{cust_name}" readonly="readonly"/></td>
				</tr>
			</table>
	</form>
</div>
		
<div>
	<form th:object="${car}" method="post" >
			<table >
				<tr>
					<td>Car Id:</td>
					<td><input type="text"  name="car_id"  id="car_id" th:field="*{car_id}" readonly="readonly"/></td>
				</tr>
				<tr>
					<td>Car Regno:</td>
					<td><input type="text" name="car_regno"  id="car_regno" th:field="*{car_regno}" readonly="readonly"/></td>
				</tr>
				<tr>
					<td>Car Rent per day:</td>
					<td><input type="text" name="car_rent"  id="car_rent" th:field="*{car_rent}" readonly="readonly"/></td>
				</tr>
				
			</table>
	</form>
</div>	
			
<div>
	<form  action="#" th:action="@{'savebooking/'}" th:object="${newbooking}" method="post">
		
		<table>
				<tr>
					<td>No of days:</td>
					<td><input type="text" name="noofdays"  id="noofdays"   onkeyup="myFunction()"></td>
				</tr>
				<tr>
					<td>Total Rent:</td>
					<td><input name="totalrent"  id="totalrent"  /></td>
				</tr>
				<tr>
				<td><label for="hiredate">Hire Date:</label></td>
     			<td><input type="date" id="hiredate" name="hiredate" ></td>
     			</tr>
     			
     			<tr>		
				<td><label for="returndate">Return Date:</label></td>
     			<td><input type="date" id="returndate" name="returndate"></td>
				</tr>
		
				<tr>
				<td><input type="checkbox" id="confirmbooking" name="confirmbooking"></td>
  				<td><label>please Check details before confirmation...</label><br>	</td>
  				<tr>
  				
		</table>
		
		<a href="savebooking/">
	
	<button type="submit" class="btn btn-danger btn-sm delBtn" id="savenewbooking" > Confirm Booking</button>
	</a>
		
	</form>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2021.  Premium <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from BootstrapDash. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="ti-heart text-danger ml-1"></i></span>
          </div>
        </footer>
        <!-- partial -->
   
      <!-- main-panel ends -->
   
    <!-- page-body-wrapper ends -->
 
  <!-- container-scroller -->

  <!-- plugins:js -->
  <script src="vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="vendors/chart.js/Chart.min.js"></script>
  <script src="vendors/datatables.net/jquery.dataTables.js"></script>
  <script src="vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
  <script src="js/dataTables.select.min.js"></script>

  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="js/off-canvas.js"></script>
  <script src="js/hoverable-collapse.js"></script>
  <script src="js/template.js"></script>
  <script src="js/settings.js"></script>
  <script src="js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="js/dashboard.js"></script>
  <script src="js/Chart.roundedBarCharts.js"></script>
  <!-- End custom js for this page-->
</body>

</html>

